# dependency directories
node_modules

# build output
dist
build

# coverage reports
coverage

# logs
npm-debug.log*

# environment variable files
.env
.env.*

# miscellaneous
.DS_Store
.turbo
.temp
.netlify
.react-router